<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <script src="/static/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
</head>
<body>

  <div id="main" name="main" class="container">
    <h1>Contracts</h1>
    <div name="contracts_main" id="contracts_main">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <h1>Providers</h1>
    <div name="providers_main" id="providers_main">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <h1>Incomplete Applications</h1>
    <div name="missing_main" id="missing_main">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <script>
    $.get("contracts", function(data, status){
      data = JSON.parse(data);
      var innerhtml = "";
      $.each(data, function(outer_index, outer_val) {
        var tbl = "<table class='table table-striped table-bordered table-hover'>";
        tbl += "<thead><tr><th scope='col'>" + outer_index + "</th></tr></thead>"
        $.each(outer_val, function(inner_index, inner_val) {
          tbl += "<tr><td>" + inner_val + "</td></tr>";
        });
        tbl += "</table>";
        innerhtml += tbl
      });
      if (innerhtml != "") {
        $('#contracts_main').html(innerhtml);
      }
    });

    $.get("providers", function(data, status){
      data = JSON.parse(data);
      var tbl = "<table class='table table-striped table-bordered table-hover'>";
      tbl += "<thead><tr><th scope='col'>Project Namespace</th><th scope='col'>Manifest Type</th><th scope='col'>Contracts</th></tr></thead>"

      var atLeastOne = false;
      $.each(data, function(outer_index, outer_val) {
        $.each(outer_val, function(inner_index, inner_val) {
          tbl += "<tr scope='row'><td>"+ outer_index + "</td><td>" + inner_index + "</td><td>" + inner_val +"</td></tr>";
          atLeastOne = true;
        });
      });
      tbl += "</table>";

      if(atLeastOne) {
        $('#providers_main').html(tbl);
      }
    });


    $.get("missing", function(data, status){
      data = JSON.parse(data);
      var tbl = "<table class='table table-striped table-bordered table-hover'>";
      tbl += "<thead><tr><th scope='col'>Project Namespace</th><th scope='col'>Manifest Type</th><th scope='col'>Contracts</th></tr></thead>"

      var atLeastOne = false;
      $.each(data, function(outer_index, outer_val) {
        $.each(outer_val, function(inner_index, inner_val) {
          tbl += "<tr scope='row'><td>"+ outer_index + "</td><td>" + inner_index + "</td><td>" + inner_val +"</td></tr>";
          atLeastOne = true;
        });
      });
      tbl += "</table>";

      if(atLeastOne) {
        $('#missing_main').html(tbl);
      }
    });

  </script>

  <script src="/static/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>
